
<h1> Menu</h1>

<div class="card-footer text-center">
    <a asp-action="startermenu" asp-controller="home" class="btn btn-primary">Starter Menu</a>
    <a asp-controller="home" asp-action="maincoursemenu" class="btn btn-primary">Main Course</a>
    <a asp-action="dessertmenu" asp-controller="home" class="btn btn-primary">Dessert</a>
</div>